html{
    width: 100%;
    height: 100%;
    background-color: black;
}

#side-nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 5vw;
    left : 0;
    top : 0;
    background-color: white;
    /*border-right-style: solid;*/
    box-shadow: 10px 0px 15px gray;
    border-top-left-radius: 2vw;
}

#side-nav ul{
    display: flex;
    flex-direction: column;
    margin: inherit;
    padding: inherit;
    list-style: none;
}
#side-nav li{
    display: inline-flex;
    width: 5vw;
}

#tagline{
    writing-mode: vertical-lr; /*ОЧЕНЬ ВАЖНО ЗАПОМНИТЬ: ИСПОЛЬЗУЕТЬСЯ ДЛЯ РАССТАНОВКИ ТЕКСТА ВЕРТИКАЛЬНО!*/
    transform: rotate(180deg);
    display: flex;
    position: relative;
}
#icon{
    position: relative;
    justify-content: center;
    box-shadow: 0px -7px 10px gray;
    top: 37vh;
    border-top-left-radius: .5vw;
    border-top-right-radius: .5vw;
}
#icon:hover{
    text-shadow: 0 5px 10px gray;
}


#main{
    display: flex;
    position: absolute;
    width: 95vw;
    height: 100vh;
    background-image: url(img/WebView-day.jpg);
    background-repeat: round;
    top : 0;
    right : 0; 
}

#head-nav{
    display: flex;
}
#head-nav h1{
    width: 8vw;
    margin-left: 5vw;
    margin-top: 5vh;
}
#head-nav ul{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    height: 2vh;
    left: 55vw;
    top: 5vh;
}
#head-nav li{
    display: flex;
    margin: auto;
    justify-content: center;
}
#head-nav a{
    margin-right: 2vw;
    font-size: 2vh;
}
#head-nav a:hover{
    background-color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    color: white;
}



.screen-nav{
    display: flex;
    position: relative;
    width: 64.05vw;
    height: 61.2vh;
    right: -15.7vw;
    bottom: -9vh;
    background-image: url(img/moon.jpg);
    background-size: cover;
    /*z-index: -1*/;
    /*filter: blur(2px);*/
    /*border-style: solid;*/
}

.screen-reg{
    display: flex;
    position: relative;
    width: 64.05vw;;
    height: 61.2vh;
    right: -15.7vw;
    bottom: 174.5vh;
    z-index: -1;
    color: white;
}
.screen-reg a{
    color: orange;
}

.screen-login{
    display: flex;
    position: relative;
    width: 64.05vw;
    height: 61.2vh;
    right: -16vw;
    bottom: 52vh;
    z-index: -1;
    color: white;
    /*border-style: solid;*/
}
.screen-login input{
    display: flex;
    border-style: solid;
    border-radius: 5px;
}
.screen-login a{
    color: orange;
}

#login-form{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    width: inherit;
}


.screen-order{
    display: flex;
    position: relative;
    color: white;
    font-size: 2vh;
    width: 64.05wv;
    height: 61.2vh;
    right: -15.7vw;
    bottom: 113.3vh;
    flex-direction: row-reverse;
    text-align: right;
    z-index: -1;
    /*border-style: solid;*/
}
.screen-order a{
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}

#order-file label{
    margin: 0;
    padding: 0;
    width: 20vw;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    font-size: 2.5vh;
    display: inline-block;
    cursor: pointer;
}
#file-upload{
    display: none;
}

.premade-layouts{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    position: relative;
    margin: 0;
    padding: 0;
    width: 34vw;
    height: 23vh;
    box-shadow: 0 0.2vh 0 white;
    border-color: white;
}
#premade-layouts-header{
    display: flex;
    border-bottom-style: solid;
    border-width: 2px;
}
#premade-layout{
    display: flex;
    list-style: none;
    width: 10vw;
    height: 10vh;
    background-image: url(img/coming-soon.jpg);
    background-size: cover;
    opacity: 0.3;
}

#order-email{
    width: 20vw;
    height: 1.5vh;
    border-radius: 2vw;
}




#dropdown{
    display: flex;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 20vw;
}
#dropdown-button{
    color: white;
    background: none;
    border-style: none;
    outline: none; /*Убирает обводку при нажатии на <button>*/
    margin: 0;
    padding: 0;
    width: 2vw;
    height: 2vh;
    font-size: 2vh;
}
#dropdown-button:hover{
    cursor: pointer;
}
#dropdown-button:focus .dropdown-menu{
    z-index: 1;
    transition-delay: .3s;
}
#dropdown-button:focus{
    background-color: white;
    color: black;
    width: 12vw;
    transition: width .3s;
    text-align: right;
    border-bottom-style: solid;
    border-bottom-left-radius: 1vh;
}

.dropdown-menu{
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    right: -2vw;
    bottom: -.2vh;
    width: 10vw;
    color: black;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-left-radius: 2vw;
    z-index: -1;
}
.dropdown-menu li{
    border-bottom-style: solid;
    border-bottom-left-radius: 2vw;
    font-size: 1.8vh;
}
.dropdown-menu li:hover{
    box-shadow: 0 2px 1px;
}

#content{
    display: flex;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: inherit;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    border-right-style: solid;
    border-right-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#content h3{
    text-align: right;
    color: orange;
    padding: 0;
    margin-top: 10px; 
    margin-bottom: 0;
    font-size: 2vh;
}
#content li{
    list-style: none;
    text-align: right;
    height: 50vh;
    font-size: 1.7vh;
}
#content p{
    margin: 0;
    padding: 0;
    font-size: 1.2vh;
}
#content button{
    position: relative;
    bottom: -2vh;
    font-size: 1.8vh;
    border-radius: .5vh;
    background-color: dimgrey;
    border-color: dodgerblue;
    outline: none;
}

#socials{
    display: flex;
    position: relative;
    padding: 0px;
    margin: 0px;
    height: inherit;
    align-items: flex-end;
    flex-direction: column;
}
#socials li{
    display: flex;
    position: relative;
    bottom: -20vh;
    height: 6vh;
}
#socials a{
    color: white;
    font-size: 2vh;
    height: auto;
    margin: 20px;
}

#text-logo{
    font-size: 2vh;
}
#text-nav{
    font-size: 1.8vh;
}
#text-tagline{
    display: flex;
    color: black;
    text-align-last: justify;
    align-self: center;
    font-size: 3vh;
    text-shadow: 0 -7px 10px gray;
    transform: translateY(-12vh);
}
#text-icon{
    color: balck;
    font-size: 4vh;
}

a{
    text-decoration: none;
    color: black;
}
input[type=radio]{
    display: none;
}
input[type=checkbox]{
    margin: 0;
    padding: 0;
    width: 1.5vw;
    height: 2vh;
}